@model MathFormulaAjax.ViewModels.MathFormulaViewModel

@{
    ViewBag.Title = "Home Page";
}

<section class="page-header">
    <h1>HTML 5</h1>

    <p>Переключить вид: <button id ="btnToggleSelectorType" class="btn btn-info">списки</button></p>

    <p class="h4">ASP.NET MVC platform</p>

    <div class="alert alert-info">Представленный функционал реализован на HTML 5 с использованием современной технологией разработки – шаблон MVVM (knockoutjs)</div>
</section>

<section>

    <div id="textarea">
        <p><strong>Y=</strong></p>
        <textarea id="input" rows="7" cols="37"></textarea>
    </div>

    <br />

    <div id="selectors" class="row">

        <div class="col-md-4">
            <div class="col-md-6">
                <p><strong>Independent Variables</strong></p>
                @Html.DropDownList("IV", new SelectList(Model.IndependentVariables, "id", "Name"), "--- выбрать ---", new { @class = "form-control", size = 0 })
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-6">
                <p><strong>Responses</strong></p>
                @Html.DropDownList("R", new SelectList(Model.Responses, "id", "Name"), "--- выбрать ---", new { @class = "form-control", size = 0 })
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-6">
                <p><strong>Math Functions</strong></p>
                @Html.DropDownList("MF", new SelectList(Model.MathFunctions, "id", "Name"), "--- выбрать ---", new { @class = "form-control", size = 0 })
            </div>
        </div>
    </div>


</section>


@section scripts
{
    <script src="~/Scripts/jquery.indexLogic.js"></script>
}
